<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995199976175-jbi5henm2ubvbiojtoh0oma5mk9sib43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995199976175-jbi5henm2ubvbiojtoh0oma5mk9sib43</string>
	<key>API_KEY</key>
	<string>AIzaSyCBn-iGAe8KE6N5HWfrkPIjs3Yb34um_Is</string>
	<key>GCM_SENDER_ID</key>
	<string>995199976175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeanMeek.JamaGramswift</string>
	<key>PROJECT_ID</key>
	<string>music-with-friends-314a6</string>
	<key>STORAGE_BUCKET</key>
	<string>music-with-friends-314a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995199976175:ios:b666319d1128060d0d111a</string>
</dict>
</plist>